.summary{
    position: relative;
    margin: auto;
    margin-top: -10rem;
    background-color: #3f3f3f;
    width: 90%;
    max-width: 45rem;
    border-radius: 25px;
    text-align: center;
    color: white;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    font-size: large;

}
.summary h2{
    font-size: 2rem;
    margin-top: 0;
}