.meal {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.actionAddButton {
  padding: 0.4rem 1.3rem;
  margin-left: 7rem;
  margin-top: 0.3rem;
  border: 1px solid gray;
  border-radius: 5px;
}
.actionAddButton:hover {
  background-color: rgb(224, 127, 15);
}
