.form {
  text-align: right;
}
.form button {
  font: inherit;
  cursor: pointer;
  background-color: #8a2b06;
  border: 1px solid #8a2b06;
  color: white;
  border-radius: 5px;
}
input {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 10px;
  text-align: center;
}
