.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
}

.modal {
  position: fixed;
  background-color: white;
  z-index: 30;
  width: calc(100% - 10%);
  left: 5%;
  top: 20vh;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slid-down 300ms ease-out forwards;
}
@media (min-width: 785px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}
@keyframes slid-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
